<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#ffbbbb">
        <div class="container-fluid">
            <span style="font-size: large; ">
                <a th:text="${user.getTitle()}"></a>
            </span>
            <span style="font-size: large; ">
            <a href="/logout">Logout</a>
            </span>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <a>Hello</a>
        </div>

        <div class="col-10" style="background-color:#f5f4f4">
            <div class="container overflow-hidden">
                <b><span style="font-size: xx-large; ">Admin panel</span></b>
                <p></p>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" aria-current="page" href="#main">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#new">New User</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="main">
                        <caption>
                            <div class="container overflow-hidden">
                                <b><span style="font-size: x-large; ">List of users</span></b>
                            </div>
                        </caption>

                        <table class="table table-bordered table-striped caption-top">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Username</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Age</th>
                                <th scope="col">List Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>

                            <tbody>
                            <th:block th:each="List : ${ListUsers}">
                                <tr>

                                    <td th:text="${List.getId()}"></td>
                                    <td th:text="${List.getUsername()}"></td>
                                    <td th:text="${List.getName()}"></td>
                                    <td th:text="${List.getSurname()}"></td>
                                    <td th:text="${List.getAge}"></td>
                                    <td scope="row">
                                        <th:block th:each="role:${List.getRoles()}"
                                                  th:text="${role.getName()}"/>
                                    </td>

                                    <td>
                                        <input type="submit" class="btn btn-dark active" data-toggle="modal"
                                               data-target="#Edit" value="Edit">
                                    </td>

                                    <td>
                                        <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${List.getId()})}">
                                            <input class="btn btn-dark active" type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>

                                <div class="modal" tabindex="-1" role="dialog" id="Edit">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:method="PATCH"
                                                      th:action="@{/admin/users/{id}(id=${List.getId()})}"
                                                      th:object="${updateUser}">
                                                    <label for="username1">Enter username: </label>
                                                    <input type="text" th:field="*{username}" id="username1"/>
                                                    <br/>
                                                    <label for="password1">Enter password: </label>
                                                    <input type="password" th:field="*{password}" id="password1"/>
                                                    <br/>
                                                    <label for="name1">Enter name: </label>
                                                    <input type="text" th:field="*{name}" id="name1"/>
                                                    <br/>
                                                    <label for="surname1">Enter surname: </label>
                                                    <input type="text" th:field="*{surname}" id="surname1"/>
                                                    <br/>
                                                    <label for="age1">Enter age: </label>
                                                    <input type="number" th:field="*{age}" id="age1"/>
                                                    <br/>
                                                    <label>Roles:</label>
                                                    <ul>
                                                        <li th:each="role : ${allRoles}">
                                                            <div>
                                                                <input type="checkbox" th:field="*{roles}"
                                                                       th:value="${role.id}">
                                                                <label th:text="${role.name}"></label>
                                                            </div>
                                                        </li>
                                                    </ul>


                                                    <div class="modal-footer">
                                                        <input class="btn btn-dark active" type="submit" value="Edit"/>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="new">
                        <div class="container overflow-hidden">
                            <caption>
                                <b><span style="font-size: x-large; ">Add new user</span></b>
                            </caption>
                        </div>

                        <div style="background-color:#ffffff">
                            <form th:method="POST" th:action="@{/admin/users}" th:object="${newUser}">
                                <div class="text-center">
                                    <b for="username">Enter username: </b>
                                    <br/>
                                    <input class="col-3" type="text" th:field="*{username}" id="username"/>
                                    <br/>
                                    <b for="password">Enter password: </b>
                                    <br/>
                                    <input class="col-3" type="password" th:field="*{password}" id="password"/>
                                    <br/>
                                    <b for="name">Enter name: </b>
                                    <br/>
                                    <input class="col-3" type="text" th:field="*{name}" id="name"/>
                                    <br/>
                                    <b for="surname">Enter surname: </b>
                                    <br/>
                                    <input class="col-3" type="text" th:field="*{surname}" id="surname"/>
                                    <br/>
                                    <b for="age">Enter age: </b>
                                    <br/>
                                    <input class="col-3" type="number" th:field="*{age}" id="age"/>
                                    <br/>
                                    <b>Roles:</b>
                                    <br/>
                                    <select class="form-select col-3" size="3" aria-label="size 3 select example">

                                        <ul>
                                            <li th:each="role: ${allRoles}">
                                                <div>
                                                    <option selected th:text="${role.name}">
                                                        <input th:field="*{roles}" th:value="${role.id}">
                                                        <label th:text="${role.name}"></label>
                                                    </option>
                                                </div>
                                            </li>
                                        </ul>
                                    </select>
                                    <br/>
                                    <input type="submit" value="Add"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>